.content{
    width: 240px;
    padding: 30px 0 0 20px;
    word-wrap: break-word;
    text-align: left;
font: normal normal 500 16px/22px Nunito;
letter-spacing: 0px;
color: #2c2d30;
opacity: 1;
}
.content-text{
    padding-bottom: 15px;
    font: normal normal 600 16px/22px Nunito;
    letter-spacing: 0px;
    color: #8B8D9D;
    opacity: 1;
}